<launch>

  <arg name="model" default="$(find puzzlebot_rviz)/rviz/puzzlebot_sim.urdf"/>
  <arg name="rvizconfig" default="$(find puzzlebot_rviz)/rviz/puzzlebot_sim.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <include file="$(find puzzlebot_rviz)/launch/puzzlebot_sim.launch"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="odom_prefix" value="puzzlebot_sim1"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>