<?xml version="1.0" encoding="UTF-8"?>
<launch>

 <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  
  <!--load robot description -->
   <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puzzlebot_gazebo)/urdf/puzzlebot_lidar.xacro'" />" 
    
    <arg name="x" default="0.8"/> <!--valores donde comienza nuestra pista-->
    <arg name="y" default="-0.5"/>
    <arg name="z" default="0.0"/>
    
  <node name="puzzlebot_spawn" pkg="gazebo_ros" type="spawn_model"  output="screen"
          args="-urdf -param robot_description -model puzzlebot -x $(arg x) -y $(arg y) -z $(arg z)" />

</launch>